
@{
    ViewBag.Title = "Summary";
}

<h2>Summary</h2>

<h2 style="text-align: center">You earned:</h2>
<h1 style="text-align: center; color: red">@ViewBag.Points points</h1>
<h2 style="text-align: center">out of @ViewBag.MaxPoints</h2>

@if (ViewBag.Points == ViewBag.MaxPoints)
{
  <h2 style="text-align: center"> Excelent job! You know every word from this pack!</h2>
}
else if (ViewBag.Points > (ViewBag.MaxPoints*0.8))
{
    <h2 style="text-align: center"> Great job! You know almost every word from this pack!</h2>
}
else if (ViewBag.Points > (ViewBag.MaxPoints*0.5))
{
    <h2 style="text-align: center"> Good job! You knew more than half words from this pack!</h2>
}
else if (ViewBag.Points >= 0)
{
    <h2 style="text-align: center"> Keep learning! Your score is less than half of maximum points.</h2>
}

<h2 style="text-align: center" >You are now on level @ViewBag.Level</h2>

<h2 style="text-align: center">with @ViewBag.userPoints points!</h2>

@Html.ActionLink("Main Page","Index","Home",null,new {@class="btn btn-default btn-block"})