@model ZTPwords.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">Password</div>
            <div class="panel-body">
                
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Change your password", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }
                
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Level</div>
            <div class="panel-body">
                @{
                    double percentLvl = (@ViewBag.Points*100)/@ViewBag.MaxLvlPoints;
                    percentLvl = Math.Round(percentLvl);
                }
               You are on level @ViewBag.Level with @ViewBag.Points points.
                <div class="progress">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="@ViewBag.Points" aria-valuemin="0" aria-valuemax="@ViewBag.MaxLvlPoints" style="width: @percentLvl%">
                        @ViewBag.Points
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
