@model ZTPwords.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">Password</div>
            <div class="panel-body">
                
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Change your password", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }
                
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Level</div>
            <div class="panel-body">

               You are on level @ViewBag.Level with @ViewBag.Points points.

            </div>
        </div>
    </div>
</div>
